.button {
  color: #35635b;
  background-color: #a3cd9e;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: auto 25px;
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button.floating-button {
  position: fixed;
  bottom: 50px;
  right: 40px;
}
